.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 700px 425px 1200px 300px 200px;
    margin: auto;
}

/*first static  BG*/
.fixed-bg {
    /*background-image: url('images/AP4-2.jpg');*/
    background-image: url('images/bgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    height: 100vh;
    grid-column: 1/ span 6;
}

/*first scroll BG*/
.scroll-bg {
    background-color: lightsteelblue;
    grid-column: 1/span 6;
  
}
/*scroll-bg-tests w my headshot*/
.scroll-bg-test {
    background-color: lightsteelblue;
    background-size: cover;
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-bg-test-2{
    background-color: lightsteelblue;
    grid-column: 3/span 4;
}

div.oppose-rocks {
    grid-column: 1/ span 6;
    background-color: lightsteelblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*footer b*/
div.fixed-bg-3 {
    background-image: url('images/bgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*min-height: 100%;
    height: 100vh;*/
    grid-column: 1/ span 6;
}






/*nav bar*/
    *{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

div.nav-links {
    margin-right: 5%;
}
.nav {
    height: 50px;
    grid-column: 1/ span 6;
    /*width: 100%;*/
    background-color: white;
    position: relative;
}
.nav > .nav-header {
    display: inline;
}

    .nav > .nav-header > .nav-title {
        display: inline-block;
        font-size: 22px;
        font-weight: 200;
        color: navy;
        /*padding: 10px 10px 10px 10px;*/
        height: 80%;
        margin-top: .5%;
        margin-left: 3%;
    }

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    
}

    .nav > .nav-links > a {
        display: inline-block;
        padding: 13px 10px 13px 10px;
        text-decoration: none;
        color: navy;
        background-color:white;
    }

        .nav > .nav-links > a:hover {
            background-color: cornflowerblue;
            color: white;
        }

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover {
                background-color: cornflowerblue;
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid navy;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: navy;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}







/*div one content*/
div.jumbotron-1 {

}

#name {
    font-size: 3rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    font-weight: 200;
}

p#about {
    color: white;
    font-size: 1.25rem;
    font-weight:200;

    
}

/*div 2/split div content*/

img#headshot {
    height: 80%;
}

section.skill-text{
    margin-top: 4%;
}

h1#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
h1#header {
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 200;
}
p#skills-p {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}












/*project div*/
/*second fixed BG*/
.fixed-bg-2 {
    background-image: url('images/GNPEdited-1.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*min-height: 100%;
    height: 100vh;*/
    grid-column: 1/ span 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
div.jumbotron-4 {
    grid-column-start: 3;
}

h1#projects {
    font-size: 2rem;
    color: navy;
    font-weight: 200;
    width: 100%;
    background-color: white;
    margin-top: 10%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
a.prolink{
    color:navy;
}
    a.prolink:hover {
        color: cornflowerblue;
        background-color: navy;
    }
img#project-1 {
    height: 50%;
    /*justify-content: center;
    display: flex;*/
}
img#project-2 {
    height: 50%;
}
img#project-3 {
    height: 100%;
}







/*contact*/
div.jumbotron-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p#contact-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 200;
}
h1#contact-header {
    font-size: 2rem;
    margin-top: 4%;
    color: navy;
    font-weight: 200;
}
p#contact-info {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: 200;
}
a#contact-info {
    color: navy;
    font-size: 1rem;
    font-weight: 200;
}
a#contact-info:hover{
    color: cornflowerblue;
    background-color: navy;
}
/*footer*/
h1#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
}
h1#footer {
    color: white;
    font-weight: 200;
    font-size: 1rem;
}



/*project1 overlay:*/
.pro1overlay {
    position: relative;
    width: 50%;
}

.pro1 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
    background-color: lightsteelblue;
}

.pro1overlay:hover .overlay1 {
    opacity: .9;
}

.text {
    color: navy;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}


/*project 2 overlay:*/
.pro2overlay {
    position: relative;
    width: 50%;
}

.pro2 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
    background-color: lightsteelblue;
}

.pro2overlay:hover .overlay2 {
    opacity: .9;
}

.text {
    color: navy;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}


/*project 3 overlay:*/
.pro3overlay {
    position: relative;
    width: 50%;
}

.pro3 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
    background-color: lightsteelblue;
}

.pro3overlay:hover .overlay3 {
    opacity: .9;
}

.text {
    color: navy;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}



/*fade in effect*/
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20%{
        opacity:0;
    }

    100% {
        opacity: 1;
    }
}

div.jumbotron-1 {
    animation-name: fadeInOut;
    animation-duration: 7s;
}