.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 700px 400px 500px 500px;
    margin: auto;
}

/*first static  BG*/
.fixed-bg {
    background-image: url('images/bgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    height: 100vh;
    grid-column: 1/ span 6;
}

/*first scroll BG*/
.scroll-bg {
    background-color: lightsteelblue;
    grid-column: 1/span 6;
  
}
/*scroll-bg-tests w my headshot*/
.scroll-bg-test {
    background-color: lightsteelblue;
    background-size: cover;
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-bg-test-2{
    background-color: lightsteelblue;
    grid-column: 3/span 4;
}
/*second fixed BG*/
.fixed-bg-2 {
    background-image: url('images/FB_IMG_1519235922864.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    height: 100vh;
    grid-column: 1/ span 6;
}





/*nav bar*/
    *{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 50px;
    grid-column: 1/ span 6;
    /*width: 100%;*/
    background-color: white;
    position: relative;
}
.nav > .nav-header {
    display: inline;
}

    .nav > .nav-header > .nav-title {
        display: inline-block;
        font-size: 22px;
        color: navy;
        /*padding: 10px 10px 10px 10px;*/
        height: 80%;
        margin-top: .5%;
        margin-left: 3%;
    }

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

    .nav > .nav-links > a {
        display: inline-block;
        padding: 13px 10px 13px 10px;
        text-decoration: none;
        color: navy;
    }

        .nav > .nav-links > a:hover {
            background-color: navy;
            color: white;
        }

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid navy;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: navy;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}







/*div one content*/
div.jumbotron-1 {

}

#name {
    font-size: 3rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

p {
    color: white;
    font-size: 1.5rem;
    
}

/*div 2/split div content*/
div.jumbotron-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 400px;*/
 
}
img#headshot {
    height: 80%;
   
}







/*project div*/
div.jumbotron-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects {

}
h1#project {
    font-size: 2rem;
    color: navy;
    display: flex;
    /*flex-wrap: wrap;
    justify-content: center;
    align-content: center;*/
  
}
img#project-1 {
    height: 20%;
}
img#project-2 {
    height: 20%;
}
img#project-3 {
    height: 20%;
}

